*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.content{
    height: 100vh;
}

.row{
    margin: 0px;
}

#rectangles{
    height: 100vh;
    display: flex;
    padding: 20px;
    align-items: start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.rectangle{
    background: white;
    height: 17vh;
    width: 17vh;
    margin-left: 10px;
    margin-bottom: 10px;
}